#header {
  padding: 30px 0;
  color: $color-main-dark;
  text-align: center;
  height: $display-all-viewport;
  height: calc(var(--vh, 1vh) * 100);
  display: grid;
  grid-template-columns: 1fr;
  -webkit-scroll-snap-coordinate: 0% 0%;
  scroll-snap-align: start;

  .logo-container {
    width: 200px;
    justify-self: center;
    align-self: center;
    
    img {
      -webkit-animation: pulpo 3s cubic-bezier(0.51, 0.32, 0.31, 0.61) infinite;
      -moz-animation: pulpo 3s cubic-bezier(0.51, 0.32, 0.31, 0.61) infinite;
      -o-animation: pulpo 3s cubic-bezier(0.51, 0.32, 0.31, 0.61) infinite;
      animation: pulpo 3s cubic-bezier(0.51, 0.32, 0.31, 0.61) infinite;
    }
  }

  p {
    max-width: 300px;
    margin: 20px auto 0;
    line-height: 30px;
    opacity: 0.8;
  }

  .arrow-section {
    opacity: 0.8;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid $color-main-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    transform: scale(1);
    transition: transform .7s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  
    svg {
      width: 50%;
    }
  }
}

#site-main {
  height: $display-all-viewport;
  height: calc(var(--vh, 1vh) * 100);

  -webkit-overflow-scrolling: touch;
  overflow: scroll;

  -webkit-scroll-snap-points-y: repeat($display-all-viewport);
  -webkit-scroll-snap-points-y: repeat(calc(var(--vh, 1vh) * 100));

  -ms-scroll-snap-points-y: repeat($display-all-viewport);
  -ms-scroll-snap-points-y: repeat(calc(var(--vh, 1vh) * 100));

  scroll-snap-points-y: repeat($display-all-viewport);
  scroll-snap-points-y: repeat(calc(var(--vh, 1vh) * 100));

  scroll-snap-destination: 0 0;
  
  -webkit-scroll-snap-type: mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
  scroll-snap-type: mandatory;
} 

#site-footer {
  color: white;
  padding: 20px 0;
  background: $color-main-dark;
}

.container {
  margin: 0 40px;;
}

.snap-container {
  -webkit-scroll-snap-coordinate: 0% 0%;
  scroll-snap-align: start;

  height: $display-all-viewport;
  height: calc(var(--vh, 1vh) * 100);
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
}