#header {
  color: $color-main-dark;
  text-align: center;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr auto 1fr;
  justify-items: center;
  background-image: url("./images/background.svg");
  background-size: cover;

  .logo-container {
    width: 200px;
    justify-self: center;
    align-self: center;
    margin-top: 100px;
    
    img {
      -webkit-animation: pulpo 3s cubic-bezier(0.51, 0.32, 0.31, 0.61) infinite;
      -moz-animation: pulpo 3s cubic-bezier(0.51, 0.32, 0.31, 0.61) infinite;
      -o-animation: pulpo 3s cubic-bezier(0.51, 0.32, 0.31, 0.61) infinite;
      animation: pulpo 3s cubic-bezier(0.51, 0.32, 0.31, 0.61) infinite;
    }
  }

  p {
    max-width: 300px;
    margin: auto;
    line-height: 30px;
    opacity: 0.8;
  }

  .main-title-contianer {
    display: flex;
    margin: auto;
    img {
      margin-bottom: 3px;
      margin-right: 25px;
    }
  }

}

#site-main {
  height: $display-all-viewport;

  -webkit-overflow-scrolling: touch;
  overflow: scroll;

} 

#site-footer {
  color: white;
  padding: 20px 0;
  background: $color-main-dark;
}

.container {
  margin: 0 40px;;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
}