.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.team-brief {

  p {
    font-size: 30px;
    line-height: 32px;
  }

  .types-container {
    margin-bottom: 20px;
  }
}

.team-goals {

  p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}


#team {
  position: relative;

  h2 {
    position: absolute;
    top: calc(var(--vh, 1vh) * 52);
    left: 40px;
    z-index: 10;
  }

  .glide {
    margin-bottom: 70px;
  }

  li > div {
    width: 100%;
    height: calc(var(--vh, 1vh) * 50);
    max-height: 400px;
  }

  .axel {
    background: url('images/axel.webp') no-repeat 0 0;
    background-size: cover;
    background-position-x: center;
  }

  .franci {
    background: url('images/franci.webp') no-repeat 0 0;
    background-size: cover;
    background-position-x: center;
  }

  .jonathan {
    background: url('images/jonathan.webp') no-repeat 0 0;
    background-size: cover;
    background-position-x: center;
  }

  article {
    margin-bottom: 20px;
    opacity: 0.1;

    &:last-child {
      margin: 0;
    }

    &:nth-child(1) {
      -webkit-animation: name-fadein-last 9s infinite ease 1.4s;
      -moz-animation: name-fadein-last 9s infinite ease 1.4s;
      -o-animation: name-fadein-last 9s infinite ease 1.4s;
      animation: name-fadein-last 9s infinite ease 1.4s;
    }

    &:nth-child(2) {
      -webkit-animation: name-fadein-first 9s infinite ease;
      -moz-animation: name-fadein-first 9s infinite ease;
      -o-animation: name-fadein-first 9s infinite ease;
      animation: name-fadein-first 9s infinite ease;
    }

    &:nth-child(3) {
      -webkit-animation: name-fadein-second 9s infinite ease 0.7s;
      -moz-animation: name-fadein-second 9s infinite ease 0.7s;
      -o-animation: name-fadein-second 9s infinite ease 0.7s;
      animation: name-fadein-second 9s infinite ease 0.7s;
    }
  }
}

#projects {
  padding-top: 110px;
  min-height: $display-all-viewport;
  height: 200vh;

  article {
    padding-bottom: 30px;
  }
}

#contact {
  padding-top: 20%;
  position: relative;

  h2 {
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 40px;
  }

  input{
    border: none;
    border-bottom: 2px solid $color-main-orange;
    width: 100%;
    background: $color-main-light;
    font-size: 16px;
    margin-bottom: 10%;
    padding: 5px;
    border-radius: 0px;
  }

  textarea {
    border: 2px solid $color-main-orange;
    width: 100%;
    background: $color-main-light;
    font-size: 16px;
    margin-bottom: 10%;
    padding: 5px;
    border-radius: 10px;
  }

  label {
    display: block;
    text-transform: capitalize;
  }

  button {
    display: block;
    margin: auto;
    font-family: $main-font-family;
  }
}