body {
  color: $color-main-dark;
  font-family: $main-font-family;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  text-transform: uppercase;
  padding-top: 5%;
  font-size: 40px;
  margin: auto;
}

h2 {
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  opacity: 0;
}

h3 {
  text-transform: uppercase;
  font-size: 16px;
}

.project-title {
  font-size: 1.5em;
}

p {
  margin: 0;
  font-size: 25px;
  font-weight: 300;
}

.team-text {
  font-size: 16px;
}

span {
  font-size: 24px;
  line-height: 28px;
}

input, textarea {
  font-family: 'Josefin Sans', sans-serif;
}
