html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: #F8F8F8;
}

h1, h2, h3, h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

@-webkit-keyframes name-fadein-first {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.1;
  }
}
@-webkit-keyframes name-fadein-second {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.1;
  }
}
@-webkit-keyframes name-fadein-last {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes name-fadein-first {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.1;
  }
}
@-moz-keyframes name-fadein-second {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.1;
  }
}
@-moz-keyframes name-fadein-last {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes name-fadein-first {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.1;
  }
}
@-o-keyframes name-fadein-second {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.1;
  }
}
@-o-keyframes name-fadein-first {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes name-fadein-first {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes name-fadein-second {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes name-fadein-last {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
@-webkit-keyframes pulpo {
  0% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    -webkit-filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
  }
  50% {
    -webkit-transform: translate(0px, -10px);
    transform: translate(0px, -10px);
    -webkit-filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.2));
  }
  100% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    -webkit-filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
  }
}
@-moz-keyframes pulpo {
  0% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    -webkit-filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
  }
  50% {
    -webkit-transform: translate(0px, -10px);
    transform: translate(0px, -10px);
    -webkit-filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.2));
  }
  100% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    -webkit-filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
  }
}
@-o-keyframes pulpo {
  0% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    -webkit-filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
  }
  50% {
    -webkit-transform: translate(0px, -10px);
    transform: translate(0px, -10px);
    -webkit-filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.2));
  }
  100% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    -webkit-filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
  }
}
@keyframes pulpo {
  0% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    -webkit-filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
  }
  50% {
    -webkit-transform: translate(0px, -10px);
    transform: translate(0px, -10px);
    -webkit-filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.2));
  }
  100% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    -webkit-filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
  }
}
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
#header {
  color: #262626;
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
#header .logo-container {
  width: 200px;
  justify-self: center;
  align-self: center;
}
#header .logo-container img {
  -webkit-animation: pulpo 3s cubic-bezier(0.51, 0.32, 0.31, 0.61) infinite;
  -moz-animation: pulpo 3s cubic-bezier(0.51, 0.32, 0.31, 0.61) infinite;
  -o-animation: pulpo 3s cubic-bezier(0.51, 0.32, 0.31, 0.61) infinite;
  animation: pulpo 3s cubic-bezier(0.51, 0.32, 0.31, 0.61) infinite;
}
#header p {
  max-width: 300px;
  margin: auto;
  line-height: 30px;
  opacity: 0.8;
}
#header .arrow-section {
  opacity: 0.8;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: transform 0.7s ease;
  cursor: pointer;
}
#header .arrow-section:hover {
  transform: scale(1.2);
}
#header .arrow-section svg {
  width: 50%;
}

#site-main {
  height: 100vh;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  -webkit-scroll-snap-points-y: repeat(100vh);
  -ms-scroll-snap-points-y: repeat(100vh);
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-destination: 0 0;
  -webkit-scroll-snap-type: proximity;
  -ms-scroll-snap-type: proximity;
  scroll-snap-type: y proximity;
  scroll-snap-type: proximity;
}

#site-footer {
  color: white;
  padding: 20px 0;
  background: #262626;
}

.container {
  margin: 0 40px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
}
body {
  color: #262626;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  text-transform: uppercase;
  padding-top: 5%;
  font-size: 40px;
  margin: auto;
}

h2 {
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  opacity: 0;
}

h3 {
  text-transform: uppercase;
  font-size: 16px;
}

.project-title {
  font-size: 1.5em;
}

.intro-project {
  font-size: 16px;
  font-weight: 400;
  color: #E58D16;
}

p {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}

.subtitle {
  font-size: 25px;
}

.team-text {
  font-size: 16px;
}

.project-link {
  font-size: 14px;
}

span {
  font-size: 24px;
  line-height: 28px;
}

input, textarea {
  font-family: "Josefin Sans", sans-serif;
}

.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.team-brief p {
  font-size: 30px;
  line-height: 32px;
}
.team-brief .types-container {
  margin-bottom: 20px;
}

.team-goals p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

#team {
  position: relative;
  height: 100vh;
}
#team h2 {
  position: absolute;
  top: 51vh;
  left: 40px;
  z-index: 10;
}
#team .glide {
  margin-bottom: 70px;
}
#team li > div {
  width: 100%;
  height: calc(var(--vh, 1vh) * 50);
  max-height: 400px;
}
#team .axel {
  background: url("images/axel.jpg") no-repeat 0 0;
  background-size: cover;
  background-position-x: center;
}
#team .franci {
  background: url("images/franci.jpg") no-repeat 0 0;
  background-size: cover;
  background-position-x: center;
}
#team .jonathan {
  background: url("images/jonathan.jpg") no-repeat 0 0;
  background-size: cover;
  background-position-x: center;
}
#team article {
  margin-bottom: 20px;
  opacity: 0.1;
}
#team article:last-child {
  margin: 0;
}
#team article:nth-child(1) {
  -webkit-animation: name-fadein-last 9s infinite ease 1.4s;
  -moz-animation: name-fadein-last 9s infinite ease 1.4s;
  -o-animation: name-fadein-last 9s infinite ease 1.4s;
  animation: name-fadein-last 9s infinite ease 1.4s;
}
#team article:nth-child(2) {
  -webkit-animation: name-fadein-first 9s infinite ease;
  -moz-animation: name-fadein-first 9s infinite ease;
  -o-animation: name-fadein-first 9s infinite ease;
  animation: name-fadein-first 9s infinite ease;
}
#team article:nth-child(3) {
  -webkit-animation: name-fadein-second 9s infinite ease 0.7s;
  -moz-animation: name-fadein-second 9s infinite ease 0.7s;
  -o-animation: name-fadein-second 9s infinite ease 0.7s;
  animation: name-fadein-second 9s infinite ease 0.7s;
}

@media (min-width: 768px) {
  #team {
    display: flex;
  }
  #team .glide {
    width: 45%;
    height: 100vh;
  }
  #team .glide .glide__track {
    height: 100%;
  }
  #team .glide .glide__slides {
    height: 100%;
  }
  #team h2 {
    left: 42%;
  }
  #team li > div {
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    max-height: none;
  }
  #team .text-carousel {
    margin: auto;
  }
}
#projects {
  padding-top: 110px;
}
#projects .container-main-image {
  width: 100%;
  height: 300px;
}
#projects .main-image-ironcampus {
  background-image: url("./images/ironcampus-bg.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}
#projects .main-image-fifa {
  background-image: url("./images/fifa-bg.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}
#projects .container-image {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: calc(100% - 50px);
  margin: 0 auto 70px;
}
#projects .device {
  display: flex;
  justify-content: center;
  align-items: center;
}
#projects .device img {
  position: absolute;
  top: -150px;
  width: 35%;
  max-width: 150px;
  filter: drop-shadow(0px 9px 9px rgba(0, 0, 0, 0.2));
}
#projects .desktop img {
  width: 85%;
  top: -70px;
}
#projects article {
  padding-bottom: 30px;
  position: relative;
  height: 45%;
}
#projects .project-title {
  margin: 150px 30px 0 0;
}
#projects .project-description p {
  margin-bottom: 15px;
}
#projects .project-link {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
#projects .project-link::after {
  content: "";
  height: 2px;
  width: 10px;
  position: absolute;
  top: 50%;
  left: calc( 100% + 12px );
  transform: translateY(-50%);
  background: #E58D16;
}

#contact {
  height: 100vh;
  padding-top: 20%;
  position: relative;
}
#contact h2 {
  line-height: 25px;
  font-size: 18px;
  margin-bottom: 40px;
}
#contact input {
  border: none;
  border-bottom: 2px solid #E58D16;
  width: 100%;
  background: #F8F8F8;
  font-size: 16px;
  margin-bottom: 10%;
  padding: 5px;
  border-radius: 0px;
}
#contact textarea {
  border: 2px solid #E58D16;
  width: 100%;
  background: #F8F8F8;
  font-size: 16px;
  margin-bottom: 10%;
  padding: 5px;
  border-radius: 10px;
}
#contact label {
  display: block;
  text-transform: capitalize;
}
#contact button {
  display: block;
  margin: auto;
  font-family: "Josefin Sans", sans-serif;
}

.button {
  display: inline-block;
  background-color: #E58D16;
  color: #F8F8F8;
  border-radius: 30px;
  padding: 20px 35px;
  transition: all 0.7s ease;
  border: 2px solid #F8F8F8;
  font-size: 16px;
}
.button:hover {
  background-color: transparent;
  color: #E58D16;
  border: 2px solid #E58D16;
}

.section-title {
  position: relative;
  text-align: left;
  align-self: start;
  font-weight: 700;
  margin-bottom: 60px;
}
.section-title::before {
  content: "";
  left: 0px;
  right: initial;
  width: 30px;
  top: initial;
  bottom: calc(100% + 25px);
  height: 3px;
  border-radius: 2px;
  background-color: #E58D16;
  position: absolute;
}

.slide-in-left {
  opacity: 100;
  animation: slideInLeft ease 1s;
}

.project-title {
  color: #E58D16;
}
.project-title::before {
  background-color: #262626;
}

/*# sourceMappingURL=style.css.map */
