html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: #F8F8F8;
}

h1, h2, h3, h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

@-webkit-keyframes pulpo {
  0% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    -webkit-filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
  }
  50% {
    -webkit-transform: translate(0px, -10px);
    transform: translate(0px, -10px);
    -webkit-filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.2));
  }
  100% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    -webkit-filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
  }
}
@-moz-keyframes pulpo {
  0% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    -webkit-filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
  }
  50% {
    -webkit-transform: translate(0px, -10px);
    transform: translate(0px, -10px);
    -webkit-filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.2));
  }
  100% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    -webkit-filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
  }
}
@-o-keyframes pulpo {
  0% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    -webkit-filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
  }
  50% {
    -webkit-transform: translate(0px, -10px);
    transform: translate(0px, -10px);
    -webkit-filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.2));
  }
  100% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    -webkit-filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
  }
}
@keyframes pulpo {
  0% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    -webkit-filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
  }
  50% {
    -webkit-transform: translate(0px, -10px);
    transform: translate(0px, -10px);
    -webkit-filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.2));
  }
  100% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    -webkit-filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
  }
}
@keyframes name-fadein {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
#header {
  padding: 30px 0;
  color: #262626;
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  scroll-snap-align: start;
}
#header .logo-container {
  width: 200px;
  justify-self: center;
  align-self: center;
}
#header .logo-container img {
  -webkit-animation: pulpo 3s cubic-bezier(0.51, 0.32, 0.31, 0.61) infinite;
  -moz-animation: pulpo 3s cubic-bezier(0.51, 0.32, 0.31, 0.61) infinite;
  -o-animation: pulpo 3s cubic-bezier(0.51, 0.32, 0.31, 0.61) infinite;
  animation: pulpo 3s cubic-bezier(0.51, 0.32, 0.31, 0.61) infinite;
}
#header p {
  max-width: 300px;
  margin: 20px auto 0;
  line-height: 30px;
  opacity: 0.8;
}
#header .arrow-section {
  opacity: 0.8;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  transform: scale(1);
  transition: transform 0.7s ease;
  cursor: pointer;
}
#header .arrow-section:hover {
  transform: scale(1.2);
}
#header .arrow-section svg {
  width: 50%;
}

#site-main {
  height: 100vh;
  overflow: scroll;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-destination: 0 0;
  scroll-snap-type: y mandatory;
  scroll-snap-type: mandatory;
}

#site-footer {
  color: white;
  padding: 20px 0;
  background: #262626;
}

.container {
  margin: 0 40px;
}

.snap-container {
  scroll-snap-align: start;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
}
body {
  color: #262626;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  text-transform: uppercase;
  padding-top: 75px;
  font-size: 40px;
  margin-bottom: 30px;
}

h2 {
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  font-size: 16px;
}

.project-title {
  font-size: 1.5em;
}

p {
  margin: 0;
  font-size: 25px;
  font-weight: 300;
}

.team-text {
  font-size: 16px;
}

span {
  font-size: 24px;
  line-height: 28px;
}

.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.team-brief p {
  font-size: 30px;
  line-height: 32px;
}
.team-brief .types-container {
  margin-bottom: 20px;
}

.team-goals p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

#team {
  position: relative;
}
#team h2 {
  position: absolute;
  top: 410px;
  left: 40px;
  z-index: 10;
}
#team .glide {
  margin-bottom: 70px;
}
#team li > div {
  width: 100%;
  height: 400px;
}
#team .axel {
  background: url("images/axel.jpg") no-repeat 0 0;
  background-size: cover;
  background-position-x: center;
}
#team .franci {
  background: url("images/franci.jpg") no-repeat 0 0;
  background-size: cover;
  background-position-x: center;
}
#team .jonathan {
  background: url("images/jonathan.jpg") no-repeat 0 0;
  background-size: cover;
  background-position-x: center;
}
#team article {
  margin-bottom: 20px;
}
#team article:last-child {
  margin: 0;
}
#team article:nth-child(2) {
  animation: name-fadein 6s infinite ease;
}
#team article:nth-child(3) {
  animation: name-fadein 4s infinite ease 2s;
}
#team article:nth-child(1) {
  animation: name-fadein 2s infinite ease 4s;
}

#projects {
  padding-top: 110px;
  height: auto;
}
#projects article {
  padding-bottom: 30px;
}

#contact {
  padding-top: 110px;
  position: relative;
}
#contact h2 {
  line-height: 28px;
}
#contact input {
  border: none;
  border-bottom: 2px solid #E58D16;
  width: 100%;
  background: #F8F8F8;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 5px;
}
#contact textarea {
  border: 2px solid #E58D16;
  width: 100%;
  background: #F8F8F8;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
}
#contact label {
  display: block;
  text-transform: capitalize;
}
#contact button {
  display: block;
  margin: auto;
}

.button {
  display: inline-block;
  background-color: #E58D16;
  color: #F8F8F8;
  border-radius: 30px;
  padding: 20px 35px;
  transition: all 0.7s ease;
  border: 2px solid #F8F8F8;
  font-size: 16px;
}
.button:hover {
  background-color: transparent;
  color: #E58D16;
  border: 2px solid #E58D16;
}

.section-title {
  position: relative;
  text-align: left;
  align-self: start;
  font-weight: 700;
  margin-bottom: 60px;
}
.section-title::before {
  content: "";
  left: 0px;
  right: initial;
  width: 30px;
  top: initial;
  bottom: calc(100% + 25px);
  height: 3px;
  border-radius: 2px;
  background-color: #E58D16;
  position: absolute;
}

.project-title {
  color: #E58D16;
}
.project-title::before {
  background-color: #262626;
}

/*# sourceMappingURL=style.css.map */
