.section-title{
  position: relative;
  text-align: left;
  align-self: start;
  font-weight: 700;
  margin-bottom: 80px;

  &::before {
    content: '';
    left: 0px;
    right: initial;
    width: 30px;
    top: initial;
    bottom: calc(100% + 25px);
    height: 3px;
    border-radius: 2px;
    background-color: $color-main-orange;
    position: absolute;
  }
}